<template>
  <b-container fluid>
    <b-row>
      <b-col lg="6" class="my-1">
        <b-form-group
          label="Filter"
          label-for="filter-input"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              id="filter-input"
              v-model="filter"
              type="search"
              placeholder="Type to Search"
            ></b-form-input>

            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col lg="6" class="my-1">
        <b-form-group
          v-model="sortDirection"
          label="Filter On"
          description="Leave all unchecked to filter on both"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
          v-slot="{ ariaDescribedby }"
        >
          <b-form-checkbox-group
            v-model="filterOn"
            :aria-describedby="ariaDescribedby"
            class="mt-1"
          >
            <b-form-checkbox value="name">Name</b-form-checkbox>
            <b-form-checkbox value="age">LastName</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>

      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Per page"
          label-for="per-page-select"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
        >
          <b-form-select
            id="per-page-select"
            v-model="perPage"
            :options="pageOptions"
            size="sm"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>

    <b-table
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      stacked="md"
      show-empty
      small
      @filtered="onFiltered"
    >
      <template #cell(name)="row">
        {{ row.value }}
      </template>

      <template #row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
          </ul>
        </b-card>
      </template>

      <template #cell(id)="row">
        <b-button size="sm" @click="showModal(row.item, row.index, $event.target, 'updateUser')" class="mr-1">
          Edit
        </b-button>
      </template>
    </b-table>

    <b-modal :ref="infoModal.id" :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
        <div>
            <b-form @submit="onSave">
                <b-form-group id="input-group-1" label="Name:" label-for="input-1">
                    <b-form-input
                    id="input-1"
                    v-model="form.Name"
                    required
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-2" label="Last Name:" label-for="input-2">
                    <b-form-input
                    id="input-2"
                    v-model="form.LastName"
                    required
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-3" label="Email address:" label-for="input-3"> 
                    <b-form-input
                    id="input-3"
                    v-model="form.Email"
                    type="email"
                    required
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-4" label="Birth Day:" label-for="input-4" required>
                <b-form-datepicker 
                    id="input-4" 
                    v-model="form.BirthDay"
                    class="mb-2"
                    :max="maxDate"
                    required
                    ></b-form-datepicker>
                </b-form-group>

                <b-button v-if="createbuttonshow" type="submit" variant="primary">Create</b-button>
                <b-button v-if="savebuttonshow" type="submit" variant="primary">Save</b-button>
                <b-button v-if="deletebuttonshow" @click="onDelete" variant="danger">Delete</b-button>
            </b-form>
        </div>
    </b-modal>
    <b-button @click="showModal({}, '', $event.target, 'createUser')" variant="primary">
        Add User
    </b-button>
    
  </b-container>
</template>

<script>
import axios from 'axios'

  export default {
    data() {
    const now = new Date();
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    const maxDate = new Date(today);
      return {
        maxDate: maxDate,
        items: [],
        form: {},
        fields: [
        { key: 'Id', label: 'More'},
          { key: 'Name', label: 'Name', sortable: true, filterByFormatted: true },
          { key: 'LastName', label: 'LastName', sortable: true, class: 'text-center', filterByFormatted: true },
          {
            key: 'BirthDay',
            label: 'BirthDay',
            sortable: true,
          },
          { key: 'Email', label: 'Email' }
        ],
        totalRows: 1,
        currentPage: 1,
        perPage: 5,
        pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
        sortBy: '',
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        filterOn: [],
        infoModal: {
          id: 'info-modal',
          title: 'blank'
        },
        createbuttonshow: false,
        savebuttonshow: false,
        deletebuttonshow: false
      }
    },
    computed: {
      sortOptions() {
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key }
          })
      }
    },
    mounted() {
      axios
      .get('https://localhost:44382/get-users')
      .then(response => {
        let result = response.data;
        result.forEach(element => {
            element.BirthDay = element.BirthDay.split('T')[0];
            if(element.BirthDay.substring(4, 10) == new Date().toISOString().substring(4, 10)) {
                element._rowVariant = 'warning'
            }
        });
        this.items = result
      });
      this.totalRows = this.items.length
    },
    updated() {
      axios
      .get('https://localhost:44382/get-users')
      .then(response => {
        let result = response.data;
        result.forEach(element => {
            element.BirthDay = element.BirthDay.split('T')[0];
            if(element.BirthDay.substring(4, 10) == new Date().toISOString().substring(4, 10)) {
                element._rowVariant = 'warning'
            }
        });
        this.items = result
      });
      this.totalRows = this.items.length
    },
    methods: {
        showModal(item, index, button, buttonsToShow) {
            this.infoModal.title = `User ${item.Name}`
            this.form = item
            if(buttonsToShow == "updateUser") {
                this.savebuttonshow = true;
                this.deletebuttonshow = true;
            }
            else this.createbuttonshow = true;
            this.$root.$emit('bv::show::modal', this.infoModal.id, button)
        },
        onSave(event) {
            event.preventDefault()
            if(!this.form.BirthDay) {
                this.makeToast('BirthDay is required!', 'warning')
                return
            }
            if(this.savebuttonshow) {
                axios
                .post('https://localhost:44382/update-user', this.form)
                .then(response => {
                    if(response.status == 200) {
                        this.$refs[this.infoModal.id].hide()
                        this.makeToast('User successfully updated!', 'success')
                    }
                    else this.makeToast('User not updated! Check data is correct and try again.', 'danger')
                });
            }
            else {
                axios
                .post('https://localhost:44382/create-user', this.form)
                .then(response => {
                    if(response.status == 200) {
                        this.$refs[this.infoModal.id].hide()
                        this.makeToast('User successfully created!', 'success')
                    }
                    else this.makeToast('User not updated! Check data is correct and try again.', 'danger')
                });
            }
        },
        onDelete() {
            alert("This user will be deleted")
            axios
                .post('https://localhost:44382/delete-user', this.form)
                .then(response => {
                    if(response.status == 200) {
                        this.$refs[this.infoModal.id].hide()
                        this.makeToast('User successfully deleted!', 'success')
                    }
                    else this.makeToast('User not updated! Check data is correct and try again.', 'danger')
                });
        },
        resetInfoModal() {
            this.infoModal.title = ''
            this.infoModal.content = ''
            this.form = {}
            this.savebuttonshow = false;
            this.deletebuttonshow = false;
            this.createbuttonshow = false;
        },
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        makeToast(message = null, variant = null) {
        this.$bvToast.toast(message, {
          variant: variant,
          solid: true
        })
      }
    }
  }
</script>